.menu-table {
    width: 300px;
}

.menu-outer {
    border-radius: 5px;
    border: 1px solid grey;
    width: 350px;
    padding: 25px;
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
    min-height: 350px;
}