.order-table {
    width: 300px;
    margin-top: 30px;
}

.send-order-btn {
    margin-top: 20px;
}

.no-items {
    color: red;
    margin-top: 10px;
}

.cart-outer {
    border-radius: 5px;
    border: 1px solid grey;
    width: 350px;
    padding: 25px;
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
    min-height: 350px;
}